#encode-yellow
{
	background: #fece2f;
	-webkit-border-radius: 1em;
	border: 1px solid #000;
	height: 25em;
	width: 35em;
	position: relative;
	margin: 0 auto;
	padding: 0 .5em;
}

#encode-red
{
	background: #fece2f;
	-webkit-border-radius: 1em;
	border: 1px solid #000;
	height: 21em;
	width: auto;
	position: relative;
	margin: 0 auto;
	padding: .5em;
}

#submit, #confirm, #return
{
	width: 5em;
	margin-top: 1em;
	margin: .5em;
	
	
}

#confirm
{
	clear:left;
	
}

#return
{

}

span.form
{
	float: left;
	width: 8.5em;
	text-align: right;
	margin-bottom: 1em;
	margin-left: 2em;
	font-weight: bold;
}

.field
{
	float: left;
	margin-left: 1.5em;
	margin-bottom: 1em;
	width: 18em;
}

.legend-form
{
	margin-left:auto;
	margin-right:auto;
}

