#encode-yellow
{
	background: #fece2f;
	-webkit-border-radius: 1em;
	border: 1px solid #000;
	height: 25em;
	width: 35em;
	position: relative;
	margin: 0 auto;
}

#encode-red
{
	background: #fece2f;
	-webkit-border-radius: 1em;
	border: 1px solid #000;
	height: 21em;
	width: 35em;
	position: relative;
	margin: 0 auto;
}

#submit
{
	margin-left: 50%;
	width: 5em;
}

#confirm
{
	width: 5em;
	float: left;
	clear: left;
	margin-left: 37%;
}

#return
{
	width: 5em;
	float: left;
	margin-left: 1em;
}

span.form
{
	float: left;
	width: 8.5em;
	text-align: right;
	margin-bottom: 1em;
	margin-left: 2em;
	font-weight: bold;
}

.field
{
	float: left;
	margin-left: 1.5em;
	margin-bottom: 1em;
	width: 18em;
}

.legend-form
{
	margin-left:auto;
	margin-right:auto;
}
