/*
RESET
*/

html{
color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;

min-height: 60%;
min-width: 60%;
overflow: hidden;

}



/* TABS*/


.ui-tabs-vertical {
 width: auto; 
 
 }
.ui-tabs-vertical .ui-tabs-nav 
 { 
 padding: 1em .25em; 
 float: left; 
 width: 20%; 
 height: 90%;
 overflow-y: auto;
 
 }
.ui-tabs-vertical .ui-tabs-nav li 
 { 
 clear: left; 
 width: 100%; 
 border-bottom-width: 1px !important; 
 border-right-width: 0 !important; 
 margin: 0 -1px .2em 0; 
 }
.ui-tabs-vertical .ui-tabs-nav li a 
{ 
display:block; 
font-size: small !important; 
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active 
{ 
padding-bottom: 0;
border-right-width: 1px;
border-right-width: 1px; 
 }
.ui-tabs-vertical .ui-tabs-panel 
{ 
padding: 1em;
width: 73%;
background-color: none;

}
.ui-tabs-panel
{
	max-height: 88%;
	overflow-y: hidden;
	
	position: absolute;
	margin-left: 20.7%;
	

}

#tabs
{
	height: 96%;
	overflow:hidden;
	

}


.ui-tabs-anchor
{
	width: 90%;
}
.ui-corner-left
{
	text-align: center;
	overflow: hidden;

}

.ui-state-active
{


}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #0074c7;
	text-decoration: none;
}

#body,header,footer
{
	padding: .25em;
	
	
}


#container
{
	
	border: 1px solid black;
	height: 76%;
	overflow-x: hidden;
	overflow-y: auto;
	
}
footer
{
border: 1px solid red;
	height: 10%;

}
header
{
	border: 1px solid green;
	height: 10%;

}

#imgCon
{
	border: 1px solid black;
	width: 5em;
	height: 100%;
	float: left;
	

}

#navBar
{
	border: 1px solid red;
	height: 100%;
	width: 100%;
	

}

#hWrapper
{
	background-color: cyan;
	height: 100%;
\
	


}
